.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1%;
  border: 0.5px solid black;
  margin-top: 1%;
}

.card-container:hover {
  cursor: pointer;
  background-color: #d4c4dd;
}

.card-img {
  width: 200px;
  height: 250px;
}
